<div class="col-md-6 col-md-offset-3 main">
  
  <div class="header text-center">
		<h1 class="header-center">New Todo List</h1>
	</div>

  <div class="lists row well text-center">
		<%= render 'form', todo_list: @todo_list %>
		<div class= "btn btn-info back">
			<%= link_to 'Back', todo_lists_path %>
		</div>
	</div>
</div>